<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
          <ul class="nav navbar-nav">

                  <li><img routerLink = "/mainpage" src = "./assets/logo.png"></li>
                   
                    <li id = "first"><a routerLink="/mainpage">Home</a></li>
                    
  <li   class="btn-btn-primary-sm" data-target = "#loginmodel" data-toggle = "modal"  [ngClass]="{'temp':this.data.loginsuccesssymbol}"><a routerLink="/login">Log In</a></li>


  <li class="btn-btn-primary-sm" data-target = "#loginmodel" data-toggle = "modal" [ngClass]="{'temp':this.data.loginsuccesssymbol}"><a routerLink="/reg-page">Register</a></li>
  
                </ul>
              
   



<div class="row">    
  <div class="col-xs-8 col-xs-offset-2">
      <div class="input-group">
         
          
          <input type="hidden" name="search_param" value="all" id="search_param">         
          <input type="text" class="form-control" name="x" placeholder="Search by name " list="products" [(ngModel)] = "searchname" (click)="temp()">
          
          <datalist id="products">
            <option *ngFor="let item of productscat" value="{{item}}" > </option>
            
          </datalist>


          <span class="input-group-btn">
           
              <button class="btn btn-default" type="submit" > <a routerLink="product/{{searchname}}" >Search</a><span></span></button>
          </span><span routerLink = "/cart" class="cart">Cart<span class="glyphicon glyphicon-shopping-cart"></span></span>
          <div *ngIf=this.data.loginsuccesssymbol><p>welcome <a href='/mainpage'>{{data.getvaliduser()}}</a></p></div>
          
      
        </div>
  </div>
</div>
  </div>
  
</nav>



<router-outlet></router-outlet>



