img {
    width:200px;
    height:200px;
}

#background {
    /* background-image: url('../../../assets/background1.jpg'); */
    width:800px;
    height:800px;
    /* background-size: contain; */
    background-repeat: no-repeat;
    backface-visibility: inherit;
  background-size: auto;
}

h1 {
    color: lightgreen;

    font-style:oblique;
    text-align:center;
    /* color:red; */

}
p{
    text-align:center;
}
